<% content_for :title, "トップメニュー" %> <!-- トップメニューのタイトル設定 -->
<div class="container mx-auto p-4">
  <div class="flex flex-col space-y-4">
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg hover:bg-blue-100">
      <%= link_to 'タイマー', timers_path, class: 'text-xl font-semibold text-blue-600 hover:text-blue-800' %>
    </div>
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg hover:bg-blue-100">
      <%= link_to '試合記録', gamerecords_path, class: 'text-xl font-semibold text-blue-600 hover:text-blue-800' %>
    </div>
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg hover:bg-blue-100">
      <%= link_to 'ルール確認用GPT', rulegpts_path, class: 'text-xl font-semibold text-blue-600 hover:text-blue-800' %>
    </div>
    <div class="bg-gray-100 p-6 rounded-lg shadow-lg hover:bg-blue-100">
      <%= link_to '設定', settings_path, class: 'text-xl font-semibold text-blue-600 hover:text-blue-800' %>
    </div>
  </div>
</div>
