<% content_for :title, "トップ" %>

<div data-controller="audio" class="flex flex-col items-center justify-center min-h-screen text-white text-center bg-black">
  <h1 class="text-7xl font-bold mb-6">BasketTimer</h1>
  
  <button onclick="window.location='<%= menus_path %>'" data-action="click->audio#playSwichSound" class="bg-gray-800 p-6 rounded-lg shadow-lg hover:bg-gray-700 block text-center text-white">
    <span class="text-xl font-semibold">STRAT</span>
  </button>
</div>
