<% content_for :title, "メニュー" %>
<div data-controller="audio touch-protection" class="bg-black min-h-[100svh] flex items-center justify-center overflow-x-hidden fixed top-0 left-0 right-0 bottom-0 z-50">
  <div class="container mx-auto p-4">
    <div class="flex flex-col space-y-4">
      <%= link_to timers_path, class: "bg-zinc-900 p-6 mobile-landscape:px-6 mobile-landscape:py-3 rounded-lg shadow-lg hover:bg-zinc-700 block text-center text-white text-xl font-semibold border border-orange-500", data: { action: "click->audio#playSwichSound" } do %>
        <div class="flex flex-col items-center space-y-2 mobile-landscape:flex-row mobile-landscape:space-x-2 mobile-landscape:space-y-0 mobile-landscape:text-sm">
          <i class="fa-solid fa-stopwatch text-3xl"></i>
          <span>タイマー</span>
        </div>
      <% end %>

      <%= link_to settings_path, class: "bg-zinc-900 p-6 mobile-landscape:px-6 mobile-landscape:py-3 rounded-lg shadow-lg hover:bg-zinc-700 block text-center text-white text-xl font-semibold border border-orange-500", data: { action: "click->audio#playSwichSound" } do %>
        <div class="flex flex-col items-center space-y-2 mobile-landscape:flex-row mobile-landscape:space-x-2 mobile-landscape:space-y-0 mobile-landscape:text-sm">
          <i class="fa-solid fa-gear text-3xl"></i>
          <span>設定</span>
        </div>
      <% end %>

      <%= link_to new_user_session_path, class: "bg-zinc-900 p-6 mobile-landscape:px-6 mobile-landscape:py-3 rounded-lg shadow-lg hover:bg-zinc-700 block text-center text-white text-xl font-semibold border border-orange-500", data: { action: "click->audio#playSwichSound" } do %>
        <div class="flex flex-col items-center space-y-2 mobile-landscape:flex-row mobile-landscape:space-x-2 mobile-landscape:space-y-0 mobile-landscape:text-sm">
          <i class="fa-solid fa-file-lines text-3xl"></i>
          <span>試合記録</span>
        </div>
      <% end %>

      <%= link_to chats_path, class: "bg-zinc-900 p-6 mobile-landscape:px-6 mobile-landscape:py-3 rounded-lg shadow-lg hover:bg-zinc-700 block text-center text-white text-xl font-semibold border border-orange-500", data: { action: "click->audio#playSwichSound" } do %>
        <div class="flex flex-col items-center space-y-2 mobile-landscape:flex-row mobile-landscape:space-x-2 mobile-landscape:space-y-0 mobile-landscape:text-sm">
          <i class="fa-solid fa-robot text-3xl"></i>
          <span>コーチAI</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
