<% content_for :title, "設定" %>

<div class="min-h-[100svh] bg-zinc-800 p-6 pt-20" data-controller="settings audio">

  <header class="fixed top-0 left-0 w-full z-50 bg-zinc-900 text-white py-4 border-b border-zinc-500">
  <div class="w-full flex justify-between items-center px-6">
    <h1 class="text-xl font-bold">設定</h1>
    <nav class="space-x-4">
      <%= link_to timers_path, class: "text-orange-400 hover:text-orange-300", data: { action: "click->audio#playSwichSound" } do %>
        <i class="text-xl fa-solid fa-stopwatch"></i>
      <% end %>
      <%= link_to menus_path, class: "hover:text-zinc-300", data: { action: "click->audio#playSwichSound" } do %>
        <i class="text-xl fa-solid fa-bars"></i>
      <% end %>
    </nav>
  </div>
  </header>

  <!-- メインタイマー -->
  <h2 class="text-lg font-bold text-orange-400 mb-2">メインタイマー</h2>
  <div class="bg-zinc-700 border border-orange-500 p-4 rounded-lg mb-6 shadow-md text-white">
    <div class="space-y-3">
      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>メインタイム</span>
        <div data-settings-target="mainTime" data-settings-target-key="mainTime" class="flex items-center gap-1 text-xl text-orange-300">
          <select class="minutes-select bg-zinc-800 text-white rounded px-1 py-1 text-sm sm:px-2 sm:text-base sm:py-1.5" data-action="change->settings#saveTime"></select>
          <span>:</span>
          <select class="seconds-select bg-zinc-800 text-white rounded px-1 py-1 text-sm sm:px-2 sm:text-base sm:py-1.5" data-action="change->settings#saveTime"></select>
        </div>
      </div>

      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>インターバル</span>
        <div data-settings-target="breakTime" data-settings-target-key="breakTime" class="flex items-center gap-1 text-xl text-orange-300">
          <select class="minutes-select bg-zinc-800 text-white rounded px-1 py-1 text-sm sm:px-2 sm:text-base sm:py-1.5" data-action="change->settings#saveTime"></select>
          <span>:</span>
          <select class="seconds-select bg-zinc-800 text-white rounded px-1 py-1 text-sm sm:px-2 sm:text-base sm:py-1.5" data-action="change->settings#saveTime"></select>
        </div>
      </div>

      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>ハーフタイム（P2,P3の間）</span>
        <div data-settings-target="halfTime" data-settings-target-key="halfTime" class="flex items-center gap-1 text-xl text-orange-300">
          <select class="minutes-select bg-zinc-800 text-white rounded px-1 py-1 text-sm sm:px-2 sm:text-base sm:py-1.5" data-action="change->settings#saveTime"></select>
          <span>:</span>
          <select class="seconds-select bg-zinc-800 text-white rounded px-1 py-1 text-sm sm:px-2 sm:text-base sm:py-1.5" data-action="change->settings#saveTime"></select>
        </div>
      </div>
      <div class="flex justify-between items-center">
        <span>エンドレス（試合通し）</span>
        <input type="checkbox" data-settings-target="endless" class="toggle toggle-primary" data-action="change->settings#saveSettings change->audio#playToggleSound">
      </div>
    </div>
  </div>

  <!-- 24秒タイマー -->
  <h2 class="text-lg font-bold text-orange-400 mb-2">24秒タイマー</h2>
  <div class="bg-zinc-700 border border-orange-500 p-4 rounded-lg mb-6 shadow-md text-white">
    <div class="flex justify-between items-center">
      <span>メインタイムの開始・停止と同期</span>
      <input type="checkbox" data-settings-target="sync24Timer" class="toggle toggle-primary" data-action="change->settings#saveSettings change->audio#playToggleSound">
    </div>
  </div>

  <!-- スコア識別 -->
  <h2 class="text-lg font-bold text-orange-400 mb-2">スコア識別</h2>
  <div class="bg-zinc-700 border border-orange-500 p-4 rounded-lg mb-6 shadow-md text-white">
    <div class="flex justify-between items-center">
      <span>色分け（白・青）</span>
      <input type="checkbox" data-settings-target="teamIdenfication" class="toggle toggle-primary" data-action="change->settings#saveSettings change->audio#playToggleSound">
    </div>
  </div>

  <!-- オーディオ -->
  <h2 class="text-lg font-bold text-orange-400 mb-2">オーディオ</h2>
  <div class="bg-zinc-700 border border-orange-500 p-4 rounded-lg mb-6 shadow-md text-white">
    <div class="space-y-3">
      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>オーディオの有無</span>
        <input type="checkbox" data-settings-target="enableAudio" class="toggle toggle-primary" data-action="change->settings#saveSettings change->audio#playToggleSound">
      </div>
      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>カウントダウン自動音声（<a href="https://ondoku3.com/ja/" target="_blank" class="text-zinc-400 underline">音読さん</a>）</span>
        <input type="checkbox" data-settings-target="countdownVoice" class="toggle toggle-primary" data-action="change->settings#saveSettings change->audio#playToggleSound">
      </div>
      <div class="flex justify-between items-center">
        <span>ハーフ交代自動音声（<a href="https://ondoku3.com/ja/" target="_blank" class="text-zinc-400 underline">音読さん</a>）</span>
        <input type="checkbox" data-settings-target="memberChangeVoice" class="toggle toggle-primary" data-action="change->settings#saveSettings change->audio#playToggleSound">
      </div>
    </div>
  </div>
</div>
