<% content_for :title, "設定" %>

<div class="min-h-[100svh] bg-zinc-800 p-6" data-controller="settings audio">
  <!-- 戻るボタン -->
  <button class="text-white text-2xl mb-6" id="backButton" 
        data-timers-path="<%= timers_path %>"
        data-action="click->audio#playSwichSound"
        onclick="window.location=this.dataset.timersPath">
    ← 戻る
  </button>

  <!-- メインタイマー -->
  <h2 class="text-lg font-bold text-orange-400 mb-2">メインタイマー</h2>
  <div class="bg-zinc-700 border border-orange-500 p-4 rounded-lg mb-6 shadow-md text-white">
    <div class="space-y-3">
      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>メインタイム（試合時間）</span>
        <span data-settings-target="mainTime" class="cursor-pointer text-xl text-orange-300 hover:underline"
              data-action="click->settings#editTime blur->settings#saveTime keydown->settings#handleEnter">10:00</span>
      </div>
      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>インターバル（P1,P2とP3,P4の間）</span>
        <span data-settings-target="breakTime" class="cursor-pointer text-xl text-orange-300 hover:underline"
              data-action="click->settings#editTime blur->settings#saveTime keydown->settings#handleEnter">1:00</span>
      </div>
      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>ハーフタイム（P2,P3の間）</span>
        <span data-settings-target="halfTime" class="cursor-pointe text-xl text-orange-300 hover:underline"
              data-action="click->settings#editTime blur->settings#saveTime keydown->settings#handleEnter">10:00</span>
      </div>
      <div class="flex justify-between items-center">
        <span>エンドレス（メインとインターバルの繰り返し）</span>
        <input type="checkbox" data-settings-target="endless" class="toggle accent-orange-500" data-action="change->settings#saveSettings change->audio#playClickSound">
      </div>
    </div>
  </div>

  <!-- 24秒タイマー -->
  <h2 class="text-lg font-bold text-orange-400 mb-2">24秒タイマー</h2>
  <div class="bg-zinc-700 border border-orange-500 p-4 rounded-lg mb-6 shadow-md text-white">
    <div class="flex justify-between items-center">
      <span>メインタイムの開始・停止と同期</span>
      <input type="checkbox" data-settings-target="sync24Timer" class="toggle accent-orange-500" data-action="change->settings#saveSettings change->audio#playClickSound">
    </div>
  </div>

  <!-- スコア識別 -->
  <h2 class="text-lg font-bold text-orange-400 mb-2">スコア識別</h2>
  <div class="bg-zinc-700 border border-orange-500 p-4 rounded-lg mb-6 shadow-md text-white">
    <div class="flex justify-between items-center">
      <span>色分け（白・青）</span>
      <input type="checkbox" data-settings-target="teamIdenfication" class="toggle accent-orange-500" data-action="change->settings#saveSettings change->audio#playClickSound">
    </div>
  </div>

  <!-- オーディオ -->
  <h2 class="text-lg font-bold text-orange-400 mb-2">オーディオ</h2>
  <div class="bg-zinc-700 border border-orange-500 p-4 rounded-lg mb-6 shadow-md text-white">
    <div class="space-y-3">
      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>オーディオの有無</span>
        <input type="checkbox" data-settings-target="enableAudio" class="toggle accent-orange-500" data-action="change->settings#saveSettings change->audio#playClickSound">
      </div>
      <div class="flex justify-between items-center border-b border-zinc-600 pb-2">
        <span>カウントダウン自動音声（<a href="https://ondoku3.com/ja/" target="_blank" class="text-zinc-400 underline">音読さん</a>）</span>
        <input type="checkbox" data-settings-target="countdownVoice" class="toggle accent-orange-500" data-action="change->settings#saveSettings change->audio#playClickSound">
      </div>
      <div class="flex justify-between items-center">
        <span>ハーフ交代自動音声（<a href="https://ondoku3.com/ja/" target="_blank" class="text-zinc-400 underline">音読さん</a>）</span>
        <input type="checkbox" data-settings-target="memberChangeVoice" class="toggle accent-orange-500" data-action="change->settings#saveSettings change->audio#playClickSound">
      </div>
    </div>
  </div>
</div>
