<p>こんにちは <%= @resource.username %> さん！</p>

<p>パスワード変更のリンクがリクエストされました。以下のリンクから変更を行ってください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、このリクエストに心当たりがない場合は、このメールを無視してください。</p>
<p>上記のリンクから新しいパスワードを設定するまで、パスワードは変更されません。</p>
